[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
prettyconf = "*"
google-api-python-client = "*"
oauth2client = "*"
docopt = "*"

[dev-packages]
flake8 = "*"
rope = "*"
yapf = "*"
fabric3 = "*"

[requires]
python_version = "3.7"
